[Unit]
Description=MidPoint Standalone Service
###Requires=postgresql.service
###After=postgresql.service
[Service]
User=root
WorkingDirectory=/opt/midpoint-{{ midpoint_version }}
ExecStart=/usr/bin/java -Xmx2048m -Dmidpoint.home=/opt/midpoint-{{ midpoint_version }}/var -jar /opt/midpoint-{{ midpoint_version }}/lib/midpoint.war
SuccessExitStatus=143
###TimeoutStopSec=120s
[Install]
WantedBy=multi-user.target
